<%- include('../partials/header.ejs', {title: title}) %>

<h1>Dommage !</h1>

<img src="/images/face-crying.png" alt="Bravo" />

<p>Il fallait trouver  <%= game.number %></p>

<a href="/play">Nouvelle partie</a>

<%- include('../partials/footer.ejs') %>